# Lab 3 - Function and List Comprehension Exercises

Please complete each exercise and submit your work on D2L.

**Rules:**

1. All functions should be defined with `lambda` (only test functions should use `def` statements.)
2. Each function should be accompanied by test function that covers normal and edge cases.

### <font color='red'> Exercise 1 </font>

Write a function `sum_of_squares` that computes the sum of the squares of the numbers in the input list. *Use a helper function in your solution*


**Example** `sum_of_squares([2, 3, 4]) === 4 + 9 + 16`  **HINT:** Use a comprehension to square the values and `sum` to compute the sum.

In [ ]:
#helper functions
sq = lambda c: [item*item for item in c ]

#lambda function
sum_of_squares = lambda x: sum(sq(list(x)))
sum_of_squares([2, 3, 4])

29

In [ ]:
#checking on the lambda function
sum_of_squares([1, 1, 1])

3

In [ ]:
sum_of_squares([0, 0, 1])

1

the above lambda function works correctly.

Now i have to make the def function, test it and document it **bold text**

### <font color="red"> Exercise 2 </font>

Write a function called `sum_even` that sums up all the even numbers in a list.  Include helper functions in your solution.

**Example** `sum_even([1,2,3,4]) == 6`

**Hint** You need a filter here.

In [ ]:
#helper function 
even = lambda x: x % 2 ==0

#lambda function
sum_even = lambda z: sum (filter(even,z))
sum_even([1,10,12,13,14])

36

### <font color="red"> Exercise 3 </font>

Write a function called `freq` that takes a value `a` and a list `L` as arguments and returns the number of times `a` occurs in `L`.

**Example** `freq(1,[1,2,1,3,4]) == 2`

**Hint** Use a filter in your comprehension and the `len` function

In [43]:

#I used a list
freq = lambda a,l: len(list(item for item in list(l) if item == a))
freq(2,[2,3,56,29,2,45,2,24,2,2,2,22,2,22])

7

In [42]:
#this wouldnt work
fq = lambda a,b: len(filter(a,list(b)))
fq(2,[2,2,3,2])

### <font color="red"> Exercise 4 </font>

Write a function called `between` that takes value `a`, `b` and a list `L` as arguments and returns `True` when all of the elements of `L` that strictly between `a` and `b`.

**Example** `between(0, 5,[1,2,1,3,4]) == True`

**Hint** Use a boolean expresion and the `all` function.

In [50]:
inz = lambda a,b,l:

[3, 4, 5]